@charset "utf-8";

// ceo메세지

.ceo-wrap {
  .ceo-inner-wrap {
    margin-top: 90px; font-size:24px;
    .txt-wrap{
      .tit { font-size:28px; font-weight:700; }
      .sub-txt {margin-top: 30px;}
    }
  }
}