.footer_content.clfix
	.link-wrap
		a(href="#" title="이용약관" target="_blank").link-txt 이용약관                          
		a(href="#" title="개인정보취급방침" target="_blank").link-txt 개인정보취급방침
		a(href="#" title="(주)용인대SM복싱클럽" target="_blank").link-txt (주)용인대SM복싱클럽 
		
	p.copy-txt COPYRIGHT © 2019 SM All rights reserved.