.header-content.clfix
	h1.logo
		a(href="#")
			span.hide-txt 용인대 SM 복싱클럽
	
	.gnb-wrap.clfix
		ul.gnb-list
			li
				a(href="../boxing/info.html").gnb-dep1-item SM 복싱클럽
				.gnb-dep2-wrap
					ul.gnb-dep2-list
						li
							a(href="#") 체육관소개
						li
							a(href="#") 대표메시지
						li
							a(href="#") 체육관목표
			li
				a(href="../program/real_boxing.html").gnb-dep1-item 프로그램
				.gnb-dep2-wrap
					ul.gnb-dep2-list
						li
							a(href="#") SM Program
						li
							a(href="#") SM Program
			li
				a(href="../findGym/seoul.html").gnb-dep1-item 체육관 찾기
				.gnb-dep2-wrap
					ul.gnb-dep2-list
						li
							a(href="#") 서울
						li
							a(href="#") 경기
			li
				a(href="../trainingCenter/center_info.html").gnb-dep1-item SM 스포츠 인재 양성소
				.gnb-dep2-wrap
					ul.gnb-dep2-list
						li
							a(href="#") 스포츠 인재 양성소 소개
						li
							a(href="#") 스포츠 지도자 교육과정
						li
							a(href="#") 복싱선수단

			li
				a(href="../community/news.html").gnb-dep1-item 커뮤니티
				.gnb-dep2-wrap
					ul.gnb-dep2-list
						li
							a(href="#") 체육관 뉴스
						li
							a(href="#") 자주묻는 질문
						li
							a(href="#") 제휴 문의
			li 
				a(href="../consulting/recruit.html").gnb-dep1-item 제휴 컨설팅
				.gnb-dep2-wrap
					ul.gnb-dep2-list
						li
							a(href="#") 채용지원
						li
							a(href="#") 창업문의

		a(href="#").close
			span.hide-txt 메뉴 닫기


	.mo-menu
		span.hide-txt 메뉴							